.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 15px;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-pref-width: 155px;
    -fx-pref-height: 65px;
}
.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}
.submit {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-pref-width: 155px;
    -fx-pref-height: 65px;
}
.submit:default{
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-background: transparent;
}
.submit:default:hover {
    -fx-background-color: #3a3a3a;
}

.submit:pressed, .submit:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}
.nextQuestion {
    -fx-padding: 5 5 5 5;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-pref-width: 155px;
    -fx-pref-height: 65px;
}
.nextQuestion:default{
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-background: transparent;
}
.nextQuestion:default:hover {
    -fx-background-color: #3a3a3a;
}

.nextQuestion:pressed, .nextQuestion:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}
.login {
    -fx-padding: 0 0 0 0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-max-width: 75px;
    -fx-max-height: 35px;

}
.login:default{
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-background: transparent;
}
.login:default:hover {
    -fx-background-color: #3a3a3a;
}
.login:pressed, .login:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}
.labelTesting {
    -fx-pref-width: 155px;
    -fx-pref-height: 65px;
    -fx-border-color:  #1d1d1d #1d1d1d #1d1d1d red;
    -fx-padding: 0px 0px 0px 30px;
}
.labelStudy {
    -fx-pref-width: 155px;
    -fx-pref-height: 65px;
    -fx-border-color:  #1d1d1d red #1d1d1d #1d1d1d ;
    -fx-padding: 0px 30px 0px 0px;
}

.button:focused {
    -fx-border-color: white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.back {
    -fx-pref-width: 34px;
    -fx-pref-height: 34px;
    -fx-padding: 0 0 0 0;
    -fx-border-color: inherit;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: inherit;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 0px;
    -fx-text-fill: inherit;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-image: url("/src/resources/images/back_white.png") ;
    -fx-background-repeat: no-repeat;


}
.back:hover {
    -fx-background-color: #d8d8d8;
    -fx-background-image: url("/src/resources/images/back.png") ;
    -fx-background-repeat: no-repeat;
}

.complexity {
    -fx-border-color: red;

}
.button1, .button2, .button3 {
    -fx-padding: 0 0 0 0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-max-height: 32px;
    -fx-max-width: 55px;
    -fx-font-size: 15px;
}
.toggle-button {
    -fx-padding: 0 7 0 7;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11px;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-max-width: 155px;
    -fx-pref-height: 65px;
}
.button1:hover {
    -fx-background-color: green;
    -fx-text-fill: black;
}
.button2:hover {
    -fx-background-color: yellow;
    -fx-text-fill: black;
}
.button3:hover {
    -fx-background-color: red;
    -fx-text-fill: black;
}
.redLine {
    -fx-pref-height: 65px;
    -fx-border-color:  #1d1d1d red #1d1d1d #1d1d1d ;
}
.redLine1 {
    -fx-pref-width: 155px;
    -fx-border-color: red transparent transparent transparent ;
}
.addQuestion {
    -fx-text-fill: white;
}
.addQuestion .content {
    -fx-background-color: #1d1d1d;
}
.exit {
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-padding: 0 0 0 0;
    -fx-border-color: #1d1d1d;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 0px;
    -fx-text-fill: none;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-image: url("/src/resources/images/logout.png");
    -fx-background-repeat: no-repeat;
}
.exit:hover {
    -fx-background-color: transparent;
    -fx-background-image: url("/src/resources/images/logoutWhite.png");
    -fx-background-repeat: no-repeat;
}
.exit:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-repeat: no-repeat;
}
.background {
    -fx-background-color: #1d1d1d;
}
.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}
.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}
.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}
.menu .left-container {
    -fx-background-color: black;
}
.label2  {
    -fx-padding: 0 0 0 60;
    -fx-background-color: #3a3a3a;
    -fx-pref-width: 250px;
    -fx-pref-height: 30px;
    -fx-background-radius: 20px;
    -fx-text-fill: #1d1d1d;
}
.settings {
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-padding: 0 0 0 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 0px;
    -fx-text-fill: none;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-image: url("/src/resources/images/settings.png");
    -fx-background-repeat: no-repeat;
}
.settings:hover {
    -fx-background-color: none;

    -fx-background-image: url("/src/resources/images/settingsWhite.png");
    -fx-background-repeat: no-repeat;
}
.settings:focused {
    -fx-border-color: transparent;
}
.swapAccount {

    -fx-pref-width: 25px;
    -fx-pref-height: 25px;
    -fx-padding: 0 0 0 0;
    -fx-border-color: none;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 0px;
    -fx-text-fill: none;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-image: url("/src/resources/images/exitButton.png");
    -fx-background-repeat: no-repeat;
}
.swapAccount:hover {
    -fx-background-color: none;
    -fx-border-color: none;
    -fx-background-image: url("/src/resources/images/exitButtonWhite.png");
    -fx-background-repeat: no-repeat;
}
.swapAccount:focused {
    -fx-border-color: transparent;
}
.fullScreen {
    -fx-pref-width: 33px;
    -fx-pref-height: 33px;
    -fx-padding: 0 0 0 0;
    -fx-border-color: none;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: none;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 0px;
    -fx-text-fill: none;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-image: url("/src/resources/images/resize.png");
    -fx-background-repeat: no-repeat;
}
.fullScreen:hover {
    -fx-background-color: transparent;
}
.fullScreen:focused {
    -fx-background-color: transparent;
    -fx-background-image: url("/src/resources/images/resize1.png");
}
.text-field {
    -fx-font-size: 8pt;
    -fx-text-fill: #e2e2e2;
    -fx-background-color: #1d1d1d;
    -fx-border-width: 2;
    -fx-border-color: #d8d8d8;
    -fx-font-family: "Segoe UI Semibold";
}
.save1 {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-border-color: red;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: red;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -fx-pref-width: 155px;
    -fx-pref-height: 65px;
}
.save1:hover {
    -fx-background-color: transparent;
}
.save1:focused {
    -fx-text-fill: red;
    -fx-border-color:red;
}

.toggle-button:hover {
    -fx-background-color: #1d1d1d;
}
.progress-bar > .bar{
    -fx-accent: red;
}
.progress-bar > .track{
    -fx-text-box-border: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-border-color: #1d1d1d red #1d1d1d red;
}
.registration {
    -fx-padding: 0 0 0 0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-max-width: 130px;
    -fx-max-height: 35px;
}
.field {
    -fx-border-color: #e2e2e2;
    -fx-max-width: 220px;
}
.step1, .step2, .step3 {
    -fx-pref-width: 310px;
    -fx-pref-height: 150px;
    -fx-border-color: transparent;
    -fx-font-size: 30pt;
    -fx-background-color: #3a3a3a;
}
.step1:focused, .step2:focused, .step3:focused{
    -fx-border-color: transparent;
}
.step1:hover, .step2:hover, .step3:hover{
    -fx-background-color: #1d1d1d;
}
.combo-box{
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #d8d8d8;
}
.combo-box .list-cell{
    -fx-text-fill: #d8d8d8;
}
.combo-box-popup .list-view .list-cell{
    -fx-background-color: #3a3a3a #3a3a3a;
}
.combo-box-popup .list-view .list-cell:hover{
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #d8d8d8;
}
.finishRegistration {
    -fx-padding: 0 0 0 0;
    -fx-border-color: #1d1d1d;
    -fx-border-width: 0;
    -fx-background-radius: 35;
    -fx-background-color: green;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 13px;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-pref-width: 155px;
    -fx-pref-height: 65px;
}
.finishRegistration:hover {
    -fx-background-color: darkgreen;
}

.finishRegistration:pressed, .finishRegistration:default:hover:pressed {
    -fx-background-color: green;
    -fx-text-fill: #d8d8d8;
}
.exit {
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-padding: 0 0 0 0;
    -fx-border-color: #1d1d1d;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 0px;
    -fx-text-fill: none;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-background-image: url("/src/resources/images/logout.png");
    -fx-background-repeat: no-repeat;
}
.exit:hover {
    -fx-background-color: transparent;
    -fx-background-image: url("/src/resources/images/logoutWhite.png");
    -fx-background-repeat: no-repeat;
}
.exit:focused {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-repeat: no-repeat;
}
@media(height: 100px){

}