.button1, .button2, .button3  {
    -fx-color: #1FC9C8;
    -fx-pref-height: 80px;
    -fx-pref-width: 175px;
   -fx-background-radius: 65px;
   -fx-background-insets: -1;
}

.button:hover {
    -fx-color: #000000;
}
.button4 {
    -fx-color:black;
    -fx-pref-height: 200px;
    -fx-pref-width: 230px;
    -fx-background-insets: -1;
}
.button4:hover, {
    -fx-color: #1FC9C8;
}
.back {
    -fx-color:black;
    -fx-pref-height: 100px;
    -fx-pref-width: 200px;
    -fx-background-radius:65px;
    -fx-background-insets: -1;
}





